@page "/"
@using BOMS.Models
@using BOMS.Data
@using Microsoft.Extensions.Configuration
@inject CustomerData CustomerData
@inject SqlDataAccess SqlDataAccess
@inject OrderService OrderService
<PageTitle>Index</PageTitle>

<h1>Bookstore Order Management System</h1>
<h6>Since Corporate won't do it!</h6>

    
@code{
    /*
    private List<Order>? orderList;
    private Customer custResult = new();

    public string Name { get; set; } = "Hello, World!";

    public void UpdateValue()
    {
        Name = "Hello, Blazor!";
    }
    protected override async Task OnInitializedAsync()
    {

        custResult.Email = "Test@domain.com";
        var g = await CustomerData.GetCustomer(custResult);
        custResult = g;
        

    }

    protected async Task doSomething(){

        custResult.Email = "Test@domain.com";
        var g = await CustomerData.GetCustomer(custResult);
        custResult = g;
    }
    */

}



